<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- 로고 -->
<header>
  <div class="header_box">
    <div class="nav">
      <div class="logo">
        <a href="#"><img src="/assets/images/pc/logo_pc.png" alt="{{site.title}} 로고" /></a>
      </div>
      <button class="btn_open">
        <img class="mb_none" src="/assets/images/pc/toggle.png" alt="메뉴열기 버튼">
        <img class="pc_none" src="/assets/images/mobile/toggle_mb.png" alt="메뉴열기 버튼">
      </button>
    </div>
  </div>
</header>
<!-- //로고 끝 -->

<!-- end custom head snippets -->
