<section>
  <div class="section sec02">
    <div class="cont_box">
      <div class="cont_title">
        <span class="title">What we do</span>
        <span class="sub_title" data-aos="fade-up" data-aos-duration="400">We Create <br />Value  with <br class="br_none" />Data</span>
      </div>
      <div class="cont_img" data-aos="fade-left" data-aos-duration="800">
        <img class="mb_none" src="/assets/images/pc/bg_who.png" alt="배경 이미지" />
        <img class="pc_none" src="/assets/images/mobile/bg_who_m.png" alt="배경 이미지" />
      </div>
      <div class="cont_quotes">
        <div class="start">
          <img class="mb_none" src="/assets/images/pc/start.png" alt="따옴표 열기" />
          <img class="pc_none" src="/assets/images/mobile/start_m.png" alt="따옴표 열기" />
        </div>
      </div>
      <div class="cont_who">
        <p data-aos="fade-up" data-aos-duration="600">(주)도울정보기술은 IT업계의 뉴 리더로서 클라이언트의 진정한 동반자적인 서비스 정신과 책임감, 봉사정신으로 사회발전에 공헌하는 기업을 지향하며 끊임없는 노력과 열정으로 기술개발과 인재양성에 매진하고 있습니다.</p>
        <p class="second" data-aos="fade-up" data-aos-duration="600">2005년부터 이어온 오랜 IT경험을 바탕으로 (주)도울정보기술의 노하우와 신기술을 접목한 지속적인 연구개발을 통해 클라이언트에게 널리 도움이 되는 기술선도 기업으로 발전하겠습니다.</p>
      </div>
    </div>
    <div class="cont_quotes">
      <div class="end">
        <img class="mb_none" src="/assets/images/pc/end.png" alt="따옴표 닫기" />
        <img class="pc_none" src="/assets/images/mobile/end_m.png" alt="따옴표 닫기" />
      </div>
    </div>
  </div>
</section>