/*footer*/
footer{overflow:hidden; width:100%; background:#2d3236;}
footer .cont_footer{max-width:1600px; width:100%; margin:0 auto; padding:70px 0;}
footer .cont_footer .list_box{width:100%;}
footer .cont_footer .list_box .list_cont{max-width:930px; width:100%; margin:0 auto; font-size:0; text-align:left; padding-bottom:45px;}
footer .cont_footer .list_box .list_cont li{margin-right:101px; text-align:center; display:inline-block; vertical-align:top;}
footer .cont_footer .list_box .list_cont li img.mb_none{margin:0 auto;}
footer .cont_footer .list_box .list_cont li:last-child{margin-right:0;}
footer .cont_footer .list_box .list_cont li.tel{}
footer .cont_footer .list_box .list_cont li span{display:block; font-size:20px; line-height:20px; color:#ffffff; padding-top:20px;}
footer .cont_footer .copyright{max-width:1200px; width:100%; margin:0 auto; border-top:1px solid #666666; font-size:20px; line-height:30px; text-align:center; color:#888888; padding-top:45px;}
footer .cont_footer .copyright .offset{padding:0 10px;}
footer .cont_footer .copyright strong{padding-right:10px;}
footer .cont_footer .copyright .git_link a{color:#888888; display:inline-block; padding-right:40px; margin-top:10px; background:url('/assets/images/pc/logo_github.png') right center no-repeat; background-size:contain;}
/*----------- 반응형 ------------*/

/* 1700px */
@media all and (max-width:1700px) {
	/*footer : 1700px*/
	footer .cont_footer{width:90%;}
	footer .cont_footer .list_box{width:80%; margin:0 auto;}
	footer .cont_footer .list_box .list_cont{padding-bottom:30px;}
	footer .cont_footer .list_box .list_cont li{margin-right:10%;}
	footer .cont_footer .copyright{font-size:18px; line-height:28px;padding-top:30px;}
}

/* 기타_1260px */
@media all and (max-width:1260px) {
	/*footer : 1260px*/
	footer .cont_footer .list_box .list_cont li{margin-right:9%;}
}

/* 기타_1210px */
@media all and (max-width:1210px) {
	/*footer : 1210px*/
	footer .cont_footer .list_box .list_cont li{margin-right:8.7%;}
}


/* 노트북, PC */
@media all and (max-width:1200px) {
	/*footer : 1200px*/
	footer .cont_footer{padding:60px 0;}
	footer .cont_footer .list_box .list_cont li{margin-right:13%;}
	footer .cont_footer .list_box .list_cont li span{font-size:16px;}
	footer .cont_footer .copyright{font-size:16px;}
}

/* 기타_1158px */
@media all and (max-width:1158px) {
	/*footer : 1141px*/
	footer .cont_footer .list_box .list_cont li{margin-right:12%;}
}

/* 기타_1104px */
@media all and (max-width:1104px) {
	/*footer : 1141px*/
	footer .cont_footer .list_box .list_cont li{margin-right:11.6%;}
}

/* 기타_1087px */
@media all and (max-width:1087px) {
	/*footer : 1087px*/
	footer .cont_footer .list_box .list_cont li{margin-right:11%;}
}

/* 기타_1055px */
@media all and (max-width:1055px) {
	/*footer : 1055px*/
	footer .cont_footer .list_box .list_cont li{margin-right:10%;}
}

/* 아이패드 Pro, 노트북 */
@media all and (max-width:1024px) {
	.mb_none{display:none;}
	.pc_none{display:block;}
	/*footer : 1024px*/
	footer .cont_footer .list_box .list_cont li .mb_none{display:block;}
	footer .cont_footer .list_box .list_cont li .pc_none{display:none;}
	footer .cont_footer .list_box .list_cont li img{width:31px; margin:0 auto;}
}

/* 기타_1011px */
@media all and (max-width:1011px) {
	/*footer : 1055px*/
	footer .cont_footer .list_box .list_cont li{margin-right:9.5%;}
}

/* 기타_994px */
@media all and (max-width:994px) {
	/*footer : 994px*/
	footer .cont_footer .list_box .list_cont li{margin-right:9%;}
}

/* 기타_970px - 933px */
@media (min-width:933px) and (max-width:970px) {
	/*footer : 970px*/
	footer .cont_footer .list_box .list_cont li{margin-right:8%;}
}

/* 기타_932px*/
@media (max-width:932px) {
	/*footer : 932px*/
	footer .cont_footer .list_box .list_cont li{margin-right:7%;}
}

/* 기타_898px - 881px */
@media all and (min-width:881px) and (max-width:898px) {
	/*footer : 898px*/
	footer .cont_footer .list_box .list_cont li{margin-right:6%;}
}

/* 기타_880px - 841px */
@media all and (min-width:841px) and (max-width:880px) {
	/*footer : 880px*/
	footer .cont_footer .list_box .list_cont li{margin-right:5%;}
}

/* 기타_840px */
@media all and (max-width:840px) {
	/*footer : 840px*/
	footer .cont_footer .list_box .list_cont li{margin-right:8%;}
	footer .cont_footer .list_box .list_cont li span{font-size:14px;}
	footer .cont_footer .copyright{font-size:13px; line-height:24px;}
}

/* 기타_834px */
@media all and (max-width:834px) {
	/*footer : 834px*/
	footer .cont_footer .list_box .list_cont li{margin-right:7%;}
}

/* 아이폰 X 가로 */
@media all and (max-width:812px) {
	/*footer : 812px*/
	footer .cont_footer .list_box .list_cont li .mb_none{display:none;}
	footer .cont_footer .list_box .list_cont li .pc_none{display:block;}
}

/* 기타_788px - 772px*/
@media (min-width:772px) and (max-width:788px) {
	/*footer : 788px*/
	footer .cont_footer .list_box .list_cont li{margin-right:6%;}
}

/* 기타_771px */
@media all and (max-width:771px) {
	/*footer : 771px*/
	footer .cont_footer .list_box .list_cont li{margin-right:6%;}
}

/* 아이패드 */
@media all and (max-width:768px) {
	/*footer : 768px*/
	footer .cont_footer .list_box .list_cont li{margin-right:8%;}
	footer .cont_footer .list_box .list_cont li span{font-size:13px;}
	footer .cont_footer .copyright{width:90%; font-size:13px; line-height:24px;}
}

/* 기타_761px */
@media all and (max-width:761px) {
	/*footer : 761px*/
	footer .cont_footer .list_box .list_cont li{margin-right:7%;}
}

/* 아이폰 6(s)+, 7+, 8+ 가로모드 */
@media all and (max-width:736px) {
	/*footer : 736px*/
	footer .cont_footer .list_box .list_cont li{margin-right:6%;}
}

/* 기타_706px */
@media all and (max-width:706px) {
	/*footer : 706px*/
	footer .cont_footer .list_box .list_cont li{margin-right:5%;}
}

/* 기타_682px - 668px*/
@media (min-width:668px) and (max-width:689px) {
	/*footer : 682px*/
	footer .cont_footer .list_box .list_cont li{margin-right:4%;}
}


/* 아이폰 6(s), 7, 8 가로모드 */
@media all and (max-width:667px) {
	/*footer : 667px*/
	footer .cont_footer .list_box .list_cont li{margin-right:3%;}
}


/* 갤럭시 S3, S5, S6, S7, S8, S8+, 노트 2, 3, 4, 5, 8 가로모드 */
@media all and (max-width:640px) {
	/*footer : 640px*/
	footer .cont_footer .list_box{width:100%;}
	footer .cont_footer .list_box .list_cont{padding-bottom:5%;}
	footer .cont_footer .list_box .list_cont li{display:block; text-align:left; font-size:0; margin-right:0; margin-bottom:20px;}
	footer .cont_footer .list_box .list_cont li img.pc_none{display:inline-block; vertical-align:top;}
	footer .cont_footer .list_box .list_cont li span{display:inline-block; vertical-align:top; margin-left:6%; padding-top:0; font-size:16px; line-height:31px;}
	footer .cont_footer .list_box .list_cont li.address{margin-bottom:0;}
	footer .cont_footer .copyright{width:100%; font-size:16px; line-height:30px; padding-top:4%; text-align:left;}
	footer .cont_footer .copyright .dp_block{display:block;}
	footer .cont_footer .copyright .dp_block .first{display:none;}
}

/* 아이폰 5, SE 가로모드 */
@media all and (max-width:568px) {

}

/* 아이폰 6(s)+, 7+, 8+ */
@media all and (max-width:414px) {
	/*footer : 414px*/
	footer .cont_footer .list_box .list_cont{padding-bottom:8%}
	footer .cont_footer .copyright{padding-top:5%;}
}

/* 아이폰 6(s), 7, 8, X */
@media all and (max-width:375px) {	
	/*footer : 375px*/
	footer .cont_footer .copyright{font-size:15px;}
}

/* 갤럭시 S3, S5, S6, S7, S8, S8+, 노트 2, 3, 4, 5, 8 */
@media all and (max-width:360px) {

}

/* 구형폰 */
@media all and (max-width:320px) {
	/*footer : 320px*/
	footer .cont_footer .copyright{font-size:13px; line-height:23px;}
}

/* 갤럭시 폴드 */
@media all and (max-width:280px) {
	/*footer : 280px*/
	footer .cont_footer{padding:45px 0;}
	footer .cont_footer .list_box .list_cont li img{width:26px;}
	footer .cont_footer .list_box .list_cont li span{font-size:14px; line-height:26px; margin-left:8%;}
	footer .cont_footer .copyright{font-size:11px; line-height:20px;}
}